---
---

<section class="h-auto flex flex-col items-center w-full gap-6 " id="tracks">
    <div class="w-3/4">
        <h1 class="text-satoshi font-light tracking-wider text-left text-2xl text-gray-400">
          Eventos
        </h1>
    </div>
    <ul class="list bg-base-100 rounded-box shadow-md w-3/4  mx-auto">
        <li class="p-4 pb-2 text-xs opacity-60 tracking-wide">
            Most played songs this week
        </li>
    </ul>
</section>

